<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="util.extentReport.ExtentReportListener" />
    </listeners>

    <test verbose="2" preserve-order="true" name="Web acceptance test">
        <classes>
            <class name="test.MyShoppingBagTest"></class>
        </classes>
    </test>
</suite>